.popup__title {
  margin: 0;
  padding-bottom: 54px;
  font-weight: 900;
  line-height: 29px;
  font-size: 24px;
  color: #000;
}

@media (max-width: 535px) {
  .popup__title {
    padding-bottom: 75px;
    line-height: 22px;
    font-size: 18px;
  }
}