.element__trash-button {
  background-image: url(../../../images/Trash-button.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  width: 18px;
  height: 19px;
  border: none;
  padding: 0;
  display: none;
}
.element__trash-button:hover {
  opacity: 0.5;
  transition: opacity 0.2s linear;
}