.popup__button_item_exit {
  place-self: end;
  margin-bottom: 8px;
  margin-right: -41px;
  position: unset;
 /*position: absolute;*/
  right: -32px;
  top: -32px;
  background-image: url('../../../../images/Close_Icon_popup.svg');
  font-size: 0;
  color: white;
  max-width: 32px;
  width: 100%;
  min-height: 32px;
  background-color: rgba(0, 0, 0, 0);
  transition: 0.2s ease;
  background-repeat: no-repeat;
}

@media screen and (max-width: 600px) {
  .popup__button_item_exit {
    margin-right: 0;
  }
}