.popup__button_active_submit {
  padding: 14px 142px;
  margin-top: 47px;
  width: 358px;
  height: 50px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  background: #000;
  border-radius: 2px;
}

.popup__button_active_submit:hover {
  opacity: 0.8;
}

@media (max-width: 535px) {
  .popup__button_active_submit {
    padding: 14px 82px;
    margin-top: 44px;
    max-height: 238px;
    font-size: 14px;
    line-height: 17px;
  }
}