.popup__input {
  padding-bottom: 13px;
  margin: 0 0 29px;
  max-width: 358px;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.popup__input:last-of-type {
  margin-bottom: 0;
}

@media (max-width: 535px) {
  .popup__input {
    padding-bottom: 8px;
    max-width: 238px;
  }
}